/* slider */

.switch {
  position: relative;
  display: inline-block;
  width: 7.5rem;
  height: 4.25rem;
  margin-top: 5%;
  margin-left: 4%;
}

#toggle{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ae2ef9;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4.25rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3.25rem;
  width: 3.25rem;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #82a72f;
}

input:focus + .slider {
  box-shadow: 0 0 2px #82a72f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3.25rem);
  -ms-transform: translateX(3.25rem);
  transform: translateX(3.25rem);
}

.slider.round {
  border-radius: 4.25rem;
}

@media (max-width: 640px) {
  .switch {
    width: 4.5rem;
    height: 2.5rem;
  }
  .slider:before {
    height: 1.7rem;
    width: 1.7rem;
    left: 0.3rem;
    bottom: 0.3rem;
  }
  input:checked + .slider:before {
    transform: translateX(1.7rem);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .switch {
    width: 6rem;
    height: 3.5rem;
  }
  .slider:before {
    height: 2.5rem;
    width: 2.5rem;
    left: 0.4rem;
    bottom: 0.4rem;
  }
  input:checked + .slider:before {
    transform: translateX(2.5rem);
  }
}
