.Mainpic{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.Maindiv{
    margin: 50px;
    width: 80rem;
    height: 60rem;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profileDiv{
    margin-left: 50px;
    background-color: rgba(50,50,50,0.7);
    height: 40rem;
    width: 35rem;
    border-radius: 5px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    img{
        height: 200px;
        width: 200px;
        border: 3px white solid;
        margin-top: 40px;
        margin-bottom: 40px;
        /* margin-left: 40px; */
        align-self: center;
    }
}

h2{
    margin-bottom: 10px;
    font-size: 20pt;
}

h1{
    background: -webkit-linear-gradient(#ae2ef9, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}